In [1]:
x = 100
print(x)

100

In [3]:
a = 100
b = 45
c = 4+56
print("my result is:",a,b,c)

my result is: 100 45 60

In [8]:
name = "ashwin"
age = 20
height = 5.4
print("my name is : ",name)
print("my age is : ",age)
print("my height is : ",height)

my name is :  ashwin
my age is :  20
my height is :  5.4

In [9]:
print(type(name))
print(type(age))
print(type(height))

<class 'str'>
<class 'int'>
<class 'float'>

In [10]:
a , b , c = 123, 134, 456
print(a)
print(b)
print(c)

123
134
456

In [11]:
a = 5698-698
print(a)

5000

In [ ]:
a  = 4+5+98-56/2
print(a)

79.0

In [2]:
print("abcdefghijklmnopqrstuvwxyz")
print("abcdefghijklmnopqrstuvwxyz")
print("abcdefghijklmnopqrstuvwxyz")
print("abcdefghijklmnopqrstuvwxyz")
print("abcdefghijklmnopqrstuvwxyz")
print("abcdefghijklmnopqrstuvwxyz")
print("abcdefghijklmnopqrstuvwxyz")
print("abcdefghijklmnopqrstuvwxyz")
print("abcdefghijklmnopqrstuvwxyz")
print("abcdefghijklmnopqrstuvwxyz")
print("abcdefghijklmnopqrstuvwxyz")

abcdefghijklmnopqrstuvwxyz
abcdefghijklmnopqrstuvwxyz
abcdefghijklmnopqrstuvwxyz
abcdefghijklmnopqrstuvwxyz
abcdefghijklmnopqrstuvwxyz
abcdefghijklmnopqrstuvwxyz
abcdefghijklmnopqrstuvwxyz
abcdefghijklmnopqrstuvwxyz
abcdefghijklmnopqrstuvwxyz
abcdefghijklmnopqrstuvwxyz
abcdefghijklmnopqrstuvwxyz

In [3]:
print("12345678910")
print("12345678910")
print("12345678910")
print("12345678910")
print("12345678910")
print("12345678910")
print("12345678910")
print("12345678910")
print("12345678910")
print("12345678910")

12345678910
12345678910
12345678910
12345678910
12345678910
12345678910
12345678910
12345678910
12345678910
12345678910

In [5]:
print("12345678910")
print("12345678910")
print("12345678910")
print("12345678910")
print("12345678910")
print("12345678910")
print("12345678910")
print("12345678910")
print("12345678910")
print("12345678910")

12345678910
12345678910
12345678910
12345678910
12345678910
12345678910
12345678910
12345678910
12345678910
12345678910

In [6]:
x = 347/600*100
print(x)

57.833333333333336

In [14]:
x = 365654
print(x)

365654

In [15]:
print(type(x))

<class 'int'>

In [16]:
x = 5
if x > 10:
    print("high")
else:
    print("less")

less

In [17]:
x=5
if x>10:
    print("greater than 10")
elif x>3:
    print("greater than 3")
else:
    print("3 or less")

greater than 3

In [18]:
k=120
l=-82
result = int(k)*int(l)
print(result)

-9840

In [19]:
v=56
g=4
print(v*g)

224

In [20]:
fruits=["apple","banana","cherry"]
for i in range(len(fruits)):
    print(fruits[i][0])

a
b
c

In [21]:
a={1,2,3,4}
b=a.add(5)
print(b)

None

In [22]:
k=(1,2,3,4,5,6)
a=(1,2,3,4,5,7)
print(k>a)

False

In [6]:
name = input("enter your name - ")
english = int(input("enter english marks"))
hindi = int(input("enter hindi marks"))
marathi = int(input("enter marathi marks"))
science = int(input("enter scince marks"))
maths = int(input("enter maths marks"))
total = english+hindi+marathi+science+maths

In [7]:
print("name",name)
print("english",english)
print("hindi",hindi)
print("marathi",marathi)
print("science",science)
print("maths",maths)
print("total marks is:",total)

name ashwin
english 34
hindi 45
marathi 56
science 34
maths 56
total marks is: 225

In [1]:
name = input("enter your name - ")
eng = int(input("enter eng marks"))
hin = int(input("enter hin marks"))
maths1 = int(input("enter maths1 marks"))
maths2 = int(input("enter maths2 marks"))
science = int(input("enter science marks"))
total = eng+hin+maths1+maths2+science

In [2]:
print("name",name)
print("eng",eng)
print("hin",hin)
print("maths1",maths1)
print("maths2",maths2)
print("science",science)
print("total marks is:",total)

name ashwin
eng 23
hin 34
maths1 34
maths2 45
science 565
total marks is: 701

In [3]:
name = input("enter your name")
basic = int(input("enter your basic"))
da = int(input("enter da"))
hra = int(input("enter hra"))
gross_salary =basic+da+hra
pf = int(input("enter pf"))
net_salary = gross_salary-pf
print("name:",name) 
print("basic:",basic)
print("da:",da)
print("hra:",hra)
print("gross_salary:",gross_salary)
print("pf:",pf)
print("net salary:",net_salary)

name: raj
basic: 23
da: 45
hra: 3654
gross_salary: 3722
pf: 56
net salary: 3666

In [2]:
name ="ashwin"
gender = "male"
height = 5.4
age = 20
print("my name is:",name)
print("my gender is:",gender)
print("my height is:",height)
print("my age is:",age)

my name is: ashwin
my gender is: male
my height is: 5.4
my age is: 20